<div class="list-ctnr">
    <div class="card-cntr" *ngFor="let item of items">
        <div class="img-ctnr">
            <img class="img-item" src="../../../assets/images/smart-watches/samsung_watch.jpg" />
        </div>
        <div class="txt-ctnr">
            <span>title</span>
            <mat-icon class="nav-item" [ngStyle]="{
            'color':'red',
            'font-size':'20px'
            }" >favorite</mat-icon>
            <p>short desc</p>
            <div>
                <span>rating</span> | <span>4</span>
            </div>
            <span> Rs. 100 </span>
            <span> Rs. 200 </span>
            <span> (50% OFF) </span>
        </div>
        <button class="add-btn">Add to Cart</button>
    </div>
</div>