.f-main-ctnr{
    position: fixed;
    margin-left: 50px;
    width: 15%;
    margin-top: 15px;
    }
    .f-main-heading{
       display: flex;
       justify-content: space-between;
        }
        .clearall-btn{
            cursor: pointer;
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 2px solid #2BAE66FF;
        }
      