<div>
    <div class="prof-heading">
      <h3 class="prof-heading-txt"> Account</h3>
    </div>
    <div class="prof-ctnr">
        <ul class="profile-list">
            <li class="list-item">
                Profile
            </li>
            <li class="list-item">
                Orders
            </li>
            <li class="list-item">
                Addresses
            </li>
        </ul>
        <!-- <app-profile-details></app-profile-details> -->
        <app-addresses></app-addresses>
    </div>
</div>
<app-addressformdialog></app-addressformdialog>
