<div class="category-ctnr">
    <div class="heading-ctnr">
        <h2 class="heading-category" >
           Top Brands
         </h2>   
    </div>
    <hr/>
    <div class="cards-ctnr">
        <div class="card" *ngFor="let brand of topBrands" (click)="setBrands(brand.brand)">
            <div class="category-img"   >
                <img class="img-item" [src]="'../../../assets/images/'+brand.imageURL" alt="category image" />
            </div>
        </div>
        
    </div>
</div>

<!-- [ngStyle]="{backgroundImage:'url(../../../assets/images/smart-watches/samsung_watch.jpg)'}" -->