.list-ctnr{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 90px;
    margin-top: 25px
}
.hide{
    display:none;
}
:host ::ng-deep .spinner circle{   
    stroke: #0CC20C;
}
@media screen and (max-width:1200px){
    .list-ctnr{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:620px){
    .list-ctnr{
        grid-template-columns: auto;
    }
}


