.container{
    display: flex;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top:0;
    box-shadow: 0px 4px 5px #888888;
    z-index: 1;
}

ul{
    list-style: none;
    display: flex;
}
h4{
    font-size: 20px;
    padding: 15px;
    padding-bottom: 0;
}
.second-ctnr{
    display: flex;
    padding: 5px;
    justify-content:space-around;
    margin:10px;
    padding-bottom: 0;
}

.nav-item-ctnr{
    padding:0 25px;
    text-align: center;
    cursor: pointer;
}
.nav-item{
    font-size: 20px;
}
p{
    font-weight:lighter;
}
.add-space{
    position: relative;
    margin-top: 90px;
}
.active-link{
    color: #2BAE66FF;
    border-bottom: 1px solid #2BAE66FF;
}
.nav-link{
    cursor: pointer;
}

.search-ctnr{
    display: flex;
    justify-content: space-around;
    /* margin-top: 40px; */
    border: 1px solid rgb(170, 152, 152);
    align-items: center;
    max-height: 38px;
    border-radius: 5px;
    background-color:#f4f4f5;
}
.search-icon{
    /* font-size:30px; */
    margin-right: 5px;
    text-align: center;
    align-items: center;
    color: #9ca3af;
    padding:0px 5px;
    margin-right: 20px;
}
.search-bar{
    width: 450px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 450;
    background-color:#f4f4f5;
    border:none;
    outline: none;
    margin: 0;
    padding: 0;
}
/* .search-ctnr:focus,.search-ctnr:hover>.search-bar{
    background-color: #fff;
} */
.search-ctnr:focus-within,.search-bar:focus{
    background-color: #fff;
}

.logo{
    font-size: 22px;
    font-style: italic;
    margin-left: 15px;
    margin-top: 5px;
    display: inline;
    font-weight: 420;
}
.logo-ctnr{
    margin-top: 15px;
    margin-left: 15px;
    color: #365314;
}
.logo-icon{
    font-size: 15px;
}