<nav class="container">
  <ul>
    <li><h4 atBadge="1" matBadgeSize="large">Home</h4></li>
    <li><h4>Shop Now</h4></li>
  </ul>
  <div>
    <input type="text-box" placeholder="Search for a product">
    <button>Search</button>
  
  <span matBadgePosition="above after"  mat-raised-button color="primary" matBadge="15" matBadgeColor="accent" > <mat-icon>favorite</mat-icon></span>
      <mat-icon matBadgeColor="warn" matBadgeOverlap=false   matBadge="14">person</mat-icon>
    <mat-icon  matBadgeColor="warn" matBadge="1">shopping_cart</mat-icon>

  </div>
</nav>