.container{
    display: flex;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top:0;
    box-shadow: 0px 4px 5px #888888;
    z-index: 1;
}

ul{
    list-style: none;
    display: flex;
}
h4{
    font-size: 20px;
    padding: 15px;
    padding-bottom: 0;
}
.second-ctnr{
    display: flex;
    padding: 5px;
    justify-content:space-around;
    margin:10px;
    padding-bottom: 0;
}
.search-bar{
    width: 450px;
    height: 45px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 450;
    background-color: #fff;
}
.nav-item-ctnr{
    padding:0 25px;
    text-align: center;
    cursor: pointer;
}
.nav-item{
    font-size: 20px;
}
p{
    font-weight:lighter;
}
.search-btn{
    width: 80px;
    height: 45px;
    border-radius: 3px;
    font-size: 15px;
}
.add-space{
    position: relative;
    margin-top: 90px;
}
.active-link{
    color: #2BAE66FF;
    border-bottom: 1px solid #2BAE66FF;
}
.nav-link{
    cursor: pointer;
}