.wishlist-ctnr{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}
.cart-heading{
    text-align: center;
    font-size: 22px;
}
.centre{
    text-align: center;
    padding: 25px;
}