<div class="container" *ngIf="product">
    <div class="image-container">
        <img class="img-item"  [src]=[productdetail.imageURL] />
    </div>
    <div>
        <h4>{{productdetail.displayName}}</h4>
        <div class="price-desc">
        <p class="cart-item">Rs. <del>{{productdetail.price}}</del></p>
        <p class="cart-item">Rs. {{productdetail.offerPrice}}</p>
        <p class="cart-item"><small><strong>{{productdetail.discount}}% OFF</strong></small></p>
        </div>
        <p><small>Delivery: Rs. {{productdetail.deliveryCharge}}</small></p>
        <div class="qty-ctnr">
            <button (click)="decreaseQuantity()">-</button>
            <p>{{quantity}}</p>
            <button (click)="increaseQuantity()">+</button>
        </div>
    </div>
</div>