.container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    border-radius: 2px;
    grid-gap: 10px;
    border: 1px solid rgb(233, 222, 222);
    margin: 0 auto; 
    padding:20px 60px;
}
.image-container{
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin-right: 50px;
}
.img-item{
    width: 100%;
    border-radius: 5px;
    width: 120;
    height: 120;
}
.add-cart-btn,.submit-btn{
    display: block;
    margin-top: 10px;
    background-color: #2BAE66FF;
    border: none;
    border-color: 2px solid #2BAE66FF;
    color: #000;
    width: 130px;
    height: 40px;
    border-radius: 5px;
}

.price-desc{
    display: flex;
}
.cart-item{
    padding-right: 20px
}
.qty-ctnr{
    display: flex;
}