<div class="price-ctnr">
<div class="heading">
<h4>PRICE DETAILS</h4>
</div>
<hr/>
<div>
    <div class="price-item">
        <h4>Price (2 items)</h4>
        <h4>Rs. 2222</h4>
    </div>
    <div class="price-item">
        <h4>Discount</h4>
        <h4>Rs. 2222</h4>
    </div>
    <div class="price-item">
        <h4>Delivery</h4>
        <h4>Rs. 2222</h4>
    </div>
    <div class="price-item">
       
            <h4>Total Amount</h4>
            <h4>Rs. 2222</h4>
    
    </div>
<div class="order-btn-ctnr">
    <button class="order-btn">Place Order</button>
</div>

</div>
</div>