.cart-ctnr{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    justify-content: center;
}
.cart-heading{
    text-align: center;
    font-size: 22px;
}
.cart-heading{
    margin: 20px;
    padding-top: 20px
}

@media screen and (max-width:900px){
    .cart-ctnr{
        grid-template-columns: auto;
    }
}