<div class="card-ctnr" >
    <div class="img-ctnr" [routerLink]="'/products/'+product._id">
        <img class="img-item" [src]="'../../../assets/images/'+product.imageURL" />
    </div>
    <div class="txt-ctnr">
        <div class="title-ctnr">
            <p class="title-txt" [routerLink]="'/products/'+product._id">{{product.displayName}}</p>
            <mat-icon *ngIf="isWishListed" class="nav-item liked" (click)="addToWishlist(product._id)">favorite</mat-icon>
            <mat-icon *ngIf="!isWishListed" class="nav-item notliked" >favorite</mat-icon>
        </div>
        <div  [routerLink]="'/products/'+product._id">
            <p>{{product.shortDescription}}</p>
        <div class="rating">
        <span>{{product.avgRating}}</span><mat-icon class="star-icon">star</mat-icon>
        </div>
        <span> {{product.offerPrice |currency:'INR'}}  </span>
        <span><del>{{product.price |currency:'INR'}}</del></span>
        <span> {{product.discount}}%</span>
        </div>
    </div>
    <button *ngIf="!isInCart" class="add-btn" (click)="addToCart(product._id)">Add to Cart</button>
    <button *ngIf="isInCart" class="add-btn" (click)="goToCart()">Go to Cart</button>
</div>