<div class="card-ctnr">
    <div class="img-ctnr">
        <img class="img-item" src="../../../assets/images/smart-watches/samsung_watch.jpg" />
    </div>
    <div class="txt-ctnr">
        <span>title</span>
        <mat-icon class="nav-item" [ngClass]="{
        'liked':isWishListed,
        'notliked':!isWishListed
        }" (click)="changeColor()">favorite</mat-icon>
        <p>short desc</p>
        <div>
            <span>rating</span> | <span>4</span>
        </div>
        <span> Rs. 100 </span>
        <span> Rs. 200 </span>
        <span> (50% OFF) </span>
    </div>
    <button class="add-btn">Add to Cart</button>
</div>