<div class="card-ctnr" >
    <div class="img-ctnr" [routerLink]="'/products/'+product._id">
        <img class="img-item" [src]="'../../../assets/images/'+product.imageURL" />
    </div>
    <div class="txt-ctnr">
        <div class="title-ctnr">
            <p class="title-txt" [routerLink]="'/products/'+product._id">{{product.displayName}}</p>
            <mat-icon class="nav-item" [ngClass]="{
            'liked':isWishListed,
            'notliked':!isWishListed
            }" (click)="changeColor()">favorite</mat-icon>
        </div>
        <div  [routerLink]="'/products/'+product._id">
            <p>{{product.shortDescription}}</p>
        <div class="rating">
        <span>{{product.avgRating}}</span><mat-icon class="star-icon">star</mat-icon>
        </div>
        <span> {{product.offerPrice |currency:'INR'}}  </span>
        <span><del>{{product.price |currency:'INR'}}</del></span>
        <span> {{product.discount}}%</span>
        </div>
    </div>
    <button class="add-btn">Add to Cart</button>
</div>