<div class="category-ctnr">
    <div class="heading-ctnr">
        <h2 class="heading-category" >
            Featured Categories
         </h2>   
    </div>
    <hr/>
    <div class="cards-ctnr">
        <div class="card" *ngFor="let item of dummyarray">
            <div class="category-img"   >
                <img class="img-item" src="../../../assets/images/smart-watches/samsung_watch.jpg" alt="category image" />
            </div>
            <div class="category-name">
                <h3  >Smart Watches</h3>
            </div>
        </div>
        
    </div>
</div>

<!-- [ngStyle]="{backgroundImage:'url(../../../assets/images/smart-watches/samsung_watch.jpg)'}" -->